*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

button{
    color: #fff;
    background-color: #222222;
    border: none;
}

/* header */
header{
    height: 50px;
    background-color: #000000;
}

.top-bar{
    display: flex;
    justify-content: flex-end;
}

.top-bar button{
    font-size: 12px;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
}

/* main */
main{
    height: calc(100vh - 130px);
    background-color: #000000;
}

/* footer */
footer{
    height: 80px;
    background-color: #222222;
}

/* DEBUG */
/* header{
    background-color: yellow;
} */

/* main{
    background-color: blue;
} */

/* footer{
    background-color: grey;
} */